AcceptanceTestDb/1Cv8Log/
VanessaSharp.Data/obj/
VanessaSharp.Data/bin/
VanessaSharp.Data.UnitTests/obj/
VanessaSharp.Data.UnitTests/bin/
VanessaSharp.Proxy.Common.Tests/bin/
VanessaSharp.Data.Linq/obj/
VanessaSharp.Proxy.Common.Tests/obj/
VanessaSharp.Data.Linq/bin/
VanessaSharp.Proxy.Common/obj/
VanessaSharp.Proxy.Common/bin/
VanessaSharp.Data.Linq.UnitTests/obj/
VanessaSharp.WpfClient/bin/
VanessaSharp.Data.Linq.UnitTests/bin/
VanessaSharp.Data.Linq.AcceptanceTests/obj/
VanessaSharp.Data.Linq.AcceptanceTests/bin/
VanessaSharp.Data.AcceptanceTests/bin/
VanessaSharp.Data.AcceptanceTests/obj/
VanessaSharp.WpfClient/obj/
VanessaSharp.AcceptanceTests.Utility/obj/
VanessaSharp.AcceptanceTests.Utility/bin/
Db/1Cv8Log/
VanessaSharp.sln.DotSettings.user
VanessaSharp.suo
*.dll
*.nupkg
