<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="1С Data Provider"
           invariant="VanessaSharp.Data"
           description=".Net Framework Data Provider for 1S Platform"
            type="VanessaSharp.Data.OneSDbProviderFactory, VanessaSharp.Data"
        />
    </DbProviderFactories> 
  </system.data>
</configuration>