<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VsevolodKonkov.OneSSharp.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VsevolodKonkov.OneSSharp.Data.Properties.Settings>
            <setting name="TestCatalog" serializeAs="String">
                <value>C:\Users\Мастер\Documents\1C\DemoTrd</value>
            </setting>
        </VsevolodKonkov.OneSSharp.Data.Properties.Settings>
    </userSettings>
</configuration>